* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

html {
  font: 20px/1.5 "Lato", sans-serif;
}

body {
  background-color: #eee;
}

body,
input,
textarea,
button {
  font: inherit;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2.0em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

.section-header .wrapper {
  margin: 0 auto;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  background-color: #fff;
}

.main-nav ul {
  display: flex;
  gap: 0 1em;
}

.main-nav li {
  display: block;
  list-style: none;
}

.main-nav a,
.site-title a {
  border-bottom: 1px solid #000;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: 0.3s;
}

.main-nav a:hover,
.site-title a:hover {
  opacity: 0.9;
  background-color: #ddd;
  border-radius: 0.3em;
}