* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

html {
  font: 20px/1.5 "Lato", sans-serif;
}

body {
  background-color: #eee;
  overflow-y: scroll;
}

body,
input,
textarea,
button {
  font: inherit;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2.0em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #000;

}

/* Header */


.section-header .wrapper {
  margin: 0 auto;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #fff;
}

.main-nav ul {
  display: flex;
  gap: 0 1em;
}

.main-nav li {
  display: block;
  list-style: none;
}

.site-title>* {
  cursor: pointer;;
  margin-left: 4em;
}

.main-nav a,
.site-title a {
  border-bottom: 1px solid #000;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: 0.3s;
}

.main-nav a:hover,
.site-title a:hover {
  opacity: 0.9;
  background-color: #ddd;
  border-radius: 0.3em;
}


/* Home page */
.section-catalog .wrapper {
  padding: 2em;
}

.section-catalog header {
  padding: 1em 0 3em 0;
  text-align: center;
}

.flex-columns.c2 {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  flex: 0 0 22%;
  max-width: 380px;
  box-shadow: 0 0 0.2em 0 rgb(0, 0, 0, 0.3);
  border: 1px solid #000;
  overflow: hidden;
  border-radius: 0.3em;
}

article .card {
  padding: 2em;
  background-color: #fff;
}

article .card h4,
article .card h5 {
  margin: 0 auto;
}

article .card .media {
  margin: auto;
  display: flex;
  padding: 0.5em;
  max-width: 200px;
}

.price {
  display: flex;
  background-color: #000;
  color: #fff;
  padding: 1em;
  gap: 2em;
  justify-content: center;
  align-content: end;
}

.price span {
  font-size: 1.3em;
  text-align: center;
}